@import url(https://fonts.googleapis.com/css2?family=Koulen&family=Libre+Barcode+39+Extended+Text&family=Major+Mono+Display&family=Silkscreen:wght@400;700&display=swap);

$color1:#F72585;
$color2:#03045E;
$color3: greenyellow;
$color4: white;
$color5: rgb(0,0,0, 0.4);
$color6: black;
$color7: rgba(0, 0, 0, .6);

$font1: 'Major Mono Display', monoespaciado;